body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #989898;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  border: 3px solid #ebeff2;
  border-radius: 12px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 2px;
  background-color: rgb(5, 161, 5);
  margin-left: 1%;  
  transition: 0.5s;
  
}

.header{
  display:flex;
}
#LIVE_ID, #register_id, #Sign_in_id{
  border: 3px solid #ebeff2;
  border-radius: 12px;
  background-color: #fff;
}
#Sign_in_id{
  margin-right: 4%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 18px;
  padding-top:11px;
  background-color: #75b6f2;
  color: #ebeff2;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#LIVE_ID{
  margin-left: 3%;
  vertical-align:middle;
  padding-top: 5px;
  padding-right: 0.5%;
  padding-left: 0.5%;
}
#register_id{
  margin-right: 1%;
  padding-top:11px;
  font-size: 18px;
  padding-right: 2%;
  padding-left: 2%;
  background-color: #fc0;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#KOLSAI_ID{
  padding-left: 1%;
  padding-right: 1%;
  font-family:Arial, Helvetica, sans-serif; 
}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 35vw;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



.row_container_1{
  display: flex;
  flex-direction: row;
}
.row_container_2{
  display: flex;
  flex-direction: row;
  padding-top: 32px;

}
.main_container{
  display: flex;
  flex-direction: row;
  padding-top: 120px;
  justify-content: center;
}
.half_container{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.main_container  img{
  border-radius: 6%;
}

